<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "..//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://mysql-group14-real-estate-group14-real-estate.b.aivencloud.com:15841/defaultdb?user=avnadmin&amp;password=AVNS_f8QWyt7pA7wHO32tjHk&amp;ssl-mode=REQUIRED</property>
        <property name="connection.username">avnadmin</property>
        <property name="connection.password">AVNS_f8QWyt7pA7wHO32tjHk</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.id.new_generator_mappings">false</property>


    </session-factory>
</hibernate-configuration>